/.jxbrowser-data
/.metadata
**/.settings
**/.launches
/RemoteSystemsTempFiles
collector_CC1352R1_LAUNCHXL_tirtos_ccs_syscfg/src
dmm_154sensor_remote_display_oad_lpstk_app_CC1352R1_LAUNCHXL_tirtos_ccs/src
